<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <category label="Login">
        <setting id="username" type="text" label="Username" default=""/>
        <setting id="password" type="text" label="Password" option="hidden" default=""/>
    </category>
    <category label="System" option="hidden">
        <setting id="first_run" type="bool" label="First Run" default="true"/>
    </category>
</settings>
